/* Los estilos de tu proyecto */
/*general*/
.full-width {
  padding: 0;
}

.no-margin {
  margin: 0;
}

/*NAVBAR*/
.container {
  /*outline: 2px solid rgb(94, 148, 1);*/
}

.container-color {
  background-color: #fff;
  border: none;
}

.logo {    
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*Modal log in*/
.style-modal-content {
  background-color: #6ad2f3;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.style-modal-content button {
  display: inline;
  text-align: right;
}

.style-modal-body {
  background-color: #f7f7f7;
  border-radius: 7px;
  margin: 0 10em;
  text-align: center;
}

.btn-close {
  width: 100%;
}

.style-modal-body form button {
  background-color: #ffa500;
  color: #fff;
}

/*End Login modal*/

.no-border {
  border: none;
}

.forgot-password {
  margin: 1em 0;
}

/*End navbar*/

/*Center Image*/

/*Modal*/
.account-modal-style {
  background-color: #c5ccdc;
  padding: 0.5em 2.5em;
}

.account-header {
  display: flex;
  flex-direction: column;
}

.account-header button {
  background-color: #000;
  color: #fff;
  margin-bottom: 1em;
}

.input-name input {

}
/*end modal*/
.background-image-hero {
  background-image: url(../assets/images/taxi.jpg);
  background-position: center 90%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: center;
}

.info-box {
  background-color: orange;
  /*height: 19em;*/
  padding: 2em;
  /*width: 79vw;*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box-download-header-mobile {
  color: #fff;
  font-size: 3rem;
  font-weight: 600;
}

.box-download-header-mobile p::after, .box-download-text-desktop p::after{
  content: url("../assets/images/logoBlanco.png");
  display: inline-block;
}

.btn-download-mobile input{
  font-size: 1.6rem;
}

.box-download-header-desktop, .box-download-text-desktop, .btn-download-desktop {
  display: none;
}

.info-box h3 {
  display: inline-block;
}

.btn-style {
  border: none;
  font-weight: bold;
}
/*End center image*/

/*Info app*/
.info-app-style {
  background-color: #ffa500;
}

.info-app-background {
  background-color: aqua;
}

.app-info {
  /*height: 44em;*/
}

.app-info-box {
  color: #fff;
  margin: 2.5em 0;
  outline: 2px solid #fff;
  padding: 0.5em 0 3em 0;
}

.app-box-desktop{
  display: none;
}

/*
.app-info-box p {
  color: #fff;
  font-size: 2em;
}*/

.app-info-box img {
  width: 50%;
}

.app-info-footer {
  color: #fff;
  font-size: 1.6em;
}
/*End info app*/

/*DIVER*/
/*Se intenta opacar con rgba y filter, con filter solo sirve al div y afecta al contenido que incluye al texto.*/
/*La imágen de fondo al container, porque al ponerlo después de column me deja un padding y la imagen no se estira.*/
.driver-box-style {
  background-color: #363333;
}

.background-driver{
  background-image: url(../assets/images/conduce.jpg);
  background-size: cover;
  background-position: center;
  filter: brightness(80%);
  height: 100%;
}

.driver-box {
  height: 70vw;
  position: relative;
}

.driver-info {
  color:#fff;
  padding: 4em 2em;
  position: absolute;
  z-index: 3;
}

.driver-info p {
  font-size: 2rem;
}

.driver-info p:first-child {
  font-weight: 600;
}

.driver-info input {
  background-color: #ffa500;
  color: #fff;
  font-size: 1.6rem;
  width: 50%;
}
/*End driver*/

/*PRICE & ROUTE*/
.price-route-style {
  background-color: #ffa500;
}

.background-price-route {
  margin: 0;
  padding: 4em 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.info-price {
  color: #fff;
}

.info-price h3 {
  font-size: 2em;
}

.info-price p {
  font-size: 1.6em;
}

.info-route input{
  background-color: #ffa500;
  border: 1px solid #fff;
  display: inline-block;
  margin: 1.3em;
  width: 65vw;
}


[type="text"] {
  color: #fff;
}


.btn-route {
  margin: 1.3em 0 4em 0;
}

.btn-route input{
  font-size: 1.6rem;
  padding: 0.6em 2em;
}

.route-map-desktop {
  display: none;
}

.route-map-mobile {
  outline: 1px solid #fff;
}

.route-map-mobile img {
  background-size: cover;
  background-position: center;
  padding: 1em;
  width: 100%;
}
/*End price & route*/

/*FOOTER*/
footer {
  background-color: #000;
  padding: 1em 0;
}

.extra-footer-mobile {
  display: none;
}

.box-footer {
  display: flex;
  /* flex-direction: unset; */
  flex-direction: row-reverse;
}

.menu-footer-mobile li {
  color: #fff;
  font-size: 1.2em;
  list-style: none;
  line-height: 2.4;
}

.menu-icons-mobile i{
  color: #fff;
  font-size: 1.2em;
  padding: 0.3em;
}

.menu-apps-desktop {
  display: none;
}

.menu-apps-mobile img {
  margin: 2em 0 0;
  width: 30vw;
}

.copyright{
  color:#fff;
}
/*end footer*/

/*MEDIA*/
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px){
  .box-download-header-mobile {
    display: none;
  }

  .box-download-header-desktop, .box-download-text-desktop {
    display:inline-block;
    color: #fff;
  }

  .box-download-header-desktop {
    font-size: 3.7rem;
    line-height: 1;
    margin-bottom: 1em;
  }

  .box-download-text-desktop {
    font-size: 3.4rem;
  }
  
  .box-download-text-desktop p::after{
    content: url("../assets/images/logoBlanco.png");
    display: inline-block;
  }

  .btn-download-mobile {
    display: none;
  }
  .btn-download-desktop {
    display: block;
  }
  
  .btn-download-desktop p {
    color: #fff;
    font-size: 2.1rem;
    margin: 3rem 0;
  }

  .btn-download-desktop p::after, .btn-download-desktop p::before{
    background-color: #fff;
    content: " ";
    display: inline-block;
    height: 1px;
    margin: 0 4rem;
    vertical-align: middle;
    width: 20%;
    
  }

  /*INFO APP*/
  .no-padding {
    padding: 0;
  }

  .app-info-box h3{
    display: none;
  }

  .app-info-box {
    display: flex;
    padding: 3em 10em;
    margin: 2em 0;
  }

  .app-box-desktop {
    color: #fff;
    text-align: left;
    display: flex;
    display: inline-block;
    margin-left: 3em;
  }

  .app-box-desktop h3{
    display: block;
    font-size: 2.3rem;
  }
  .app-box-desktop p {
    display: inline-block;
    font-size: 1.6rem;
  }

  .app-info-footer{
    visibility: hidden;
  }

  /*DRIVER*/
  .driver-info{
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    right: 0;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .background-driver{
    filter: brightness(100%);
  }

  .driver-box {
    height: 40vw;
  }

  .info-price {
    font-size: 1rem;
  }

  .info-route input {
    width: 70%;
  }


  .route-map-mobile {
    display: none;
  }

  .route-map-desktop {
    display: block;
    outline: 1px solid #fff;
    margin: 4em 0;
  }

  .route-map-desktop img {
    background-size: cover;
    background-position: center;
    padding: 1em;
    width: 100%;
  }
  /*End Driver*/

  /*FOOTER*/
  footer {
    padding: 3em 0;
  }

  .extra-footer-mobile {
    color: #fff;
    display: block;
  }

  .extra-footer-mobile ul li {
    font-size: 1.2em;
    list-style: none;
    line-height: 2.4;
  }
  /*end footer*/
  .menu-apps-mobile {
    display: none;
  }

  .menu-apps-desktop {
    display: block;
  }

  .menu-apps-desktop img {
    width: 100%;
  }

  .box-footer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }

  .menu-apps-desktop img {
    margin-bottom: 1em;
  }
}

/* Medium devices (desktops, 992px and up)}*/ 
@media (min-width: 992px){
  /*INFO APP*/
  .app-box-desktop h3{
    font-size: 3.2rem;
  }

  .app-box-desktop p{
    font-size: 2rem;
  }
}  
