/* Los estilos de tu proyecto */

/*RESET*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*NAVBAR*/
.container {
  height: 70px;
  outline: 2px solid rgb(94, 148, 1);
}

.container-color {
  background-color: red;
}

.col-xs-9 {
  display: flex;
}

.logo {    
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/*Fin navbar*/

/*Center Image*/
.background-image {
  background-image: url(../assets/images/taxi.jpg);
  background-position: center 90%;
  background-size: cover;
  height: 500px;
}

.download-image {
  background-color: orange;
  height: 150px;
}
/*Fin center image*/
